@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-primary: #fff;
    --text-secudary: #000;
    --font-heading: 'Poppins';
    --font-default: 'Montserrat';
}

html{
    font-size: 62,5%;
}

body{
    font-family: var(--font-default);
    color: var(--text-primary);
    background-color: #05152F;
}


#hamburger{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 3rem;
    width: 3rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 11;
}



#hamburger .linha{
    width: 100%;
    height: .4rem;
    background-color: #ffffff;
    box-shadow: .1rem .1rem rgb(51, 51, 51);
    border-radius: .4rem;
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: fixed;
    right: 0rem;
    background-color: #19205f;
    height: 100vh;
    width: 20rem;
    z-index: 10;
    transition: 1s;
}

#menu li{
    list-style: none;    
}

#menu a{
    text-decoration: none;
    color: var(--text-primary);
}

#menu a:hover{
    color: #fd2e70;
}

.menu-show{
    right: -20rem;
}

header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding-top: 30rem;
    padding-left: 6rem;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

header::before{
    content:'';
    width: 100%;
    height: 100%;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    position: absolute;
    top:0px;
    left: 0px;
    z-index: -1;
    animation: zoom 5s ease-in-out;
}

@keyframes zoom {
    0%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

h1{
    font-size: 2rem;
    font-weight: 900;
    font-family: var(--font-heading);
}

span{
    font-size: 1.5rem;
}


.button{
    background:linear-gradient(90deg, #C33764, #1D2671);
    padding: 0.75rem 1.75rem;
    border-radius: 3.5px;
    color: #fff;
    font-size: 1.3rem;
    font-family: var(--font-default);
    text-decoration: none;
}

.button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #1D2671;
} 

img.avatar{
    border-radius: 50%;
    width: 15%;
}

.section-presentation{
    display: flex;
    color:var(--text-primary);
    gap: 2rem;
    margin-top: 1.5rem;
    background-color: #05152F;
}

.section-presentation div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#section-projects{
    background-color: #05152F;
    gap: 2rem;
}

#section-projects ul{
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    margin-top: 2rem;
}

#section-projects li{
    list-style: none;
    position: relative;
    cursor: pointer;
}

.card-image img{
    width: 300px;
    height: 400px;
    border-radius: 10px;
}

.card-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 1rem;
    bottom: 0;
    opacity: 0;
    transition: opacity .5s, bottom .5s;
}

#section-projects li:hover .card-info{
    opacity: 1;
    bottom: 7%
}

#section-projects h2{
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    margin-top: 1.5rem;
    align-items: center;
}


#section-budget{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url();
    background-size: cover;
}

#section-budget form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    column-gap: 1rem;
    row-gap: 1rem;
    background-color: #8c8c8c99;
    backdrop-filter: blur(1px);
    border-radius: 10px;
    width: 80%;
    padding: 2rem;
}

#section-budget form h4{
    position: absolute;
    top: -15%;
    background-color: #C33764;
    padding: .3rem .2rem;
    border-radius: 5px;
}

#section-budget form output{
    grid-column: 2;
}